.fot{
  background-color: black;
  height: 80vh;
  background-image: url("../../assets/image-2.png");
  background-position: center;
  background-repeat: no-repeat;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}