

.main{
  height: 100vh;
  position: relative;
 
}

.nav{
  
  background-color: black;
  height: 85vh;
  background-image: url("../../assets/image-2.png");
  background-position: center;
  background-repeat: no-repeat;
padding: 20px;
position: relative;
}
.main2{
  height: 50vh;
  position: relative; 
}
.nav2{
  background-color: black;
  height: 45vh;
  background-image: url("../../assets/image-2.png");
  background-position: center;
  background-repeat: no-repeat;
padding: 20px;
position: relative;
}


.logo{
  width: 40px;
  
} .search{
  display: flex;
  align-items: center;
  position: relative;
}
.searchicon{
  color: white;
  position: absolute;
  left: 10px;
}

input[type=text]{
   background-color: rgb(27, 27, 27)!important;
   width: 100%;
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 2px solid red;
  text-align: right;
  
}
input[type=text]:focus{
  padding: 9px;
  border-top: 2px solid red;
}
.icons{
  font-size: 1.3rem;
  color: white;
 transition: all .3s;

}
.cart{
  position: relative;
}
.cartnum{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0;
  color: white;
}
.icons:hover{
  color: red;
  
} 
.item{
  transition: all .2s;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
}
.item:hover {
  border-bottom: 3px solid red;
   color: red !important;
 
}
.item:hover a{
  color: red !important;
} 
.panar{
  position: absolute;
  bottom: 0;
width: 80%;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}
.drop{
  font-size: 1.1rem !important;
  color: white !important ;
  transition: all .5s;
}
.drop:hover a{
  color: red !important;
} 