.card{
  background-color: #e4e4e4;
  border-width: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0  0 20px 20px;
  box-shadow: rgba(255, 0, 0, 0.74) 2px 2px;
}
.btn{
  background-color: red;
}
.card-body{
  background-color: black;
  
}
.cardimg{
  overflow: hidden;
  transition: 400ms;
}
.card img{transition: 400ms;}
.card:hover img{
  transform:scale(1.2);
   
 }
.btn-dark{
  background-color: #4f4c4d;
}
.cat{
  border-radius: 50px;
 background-image: linear-gradient(180deg , black 50% , red 100%);
 display: flex;
 flex-direction: column;
 align-items: center;
 

}
.card-body {
      h5{
        color: rgb(255, 255, 255) !important;
        font-size: 0.8rem;
      }
 h6,a{
    color: rgb(255, 255, 255) !important;
 }
    
  

}

.linethrou{
  text-decoration: line-through;
}
.cat img{
  
  transition: all .5s;
}
.cat h5 ,h4 ,h6 ,a {
  color: white;

}
.cat:hover img{
 transform: translate(-16px , -48px) rotate(16deg) scale(1.2);
  
}
.cat h5{
  color: white !important;
  text-shadow: #4f4c4d 2px 2px;
}
.item{
  
  transition: all .5s;
}
.item:hover{
  transform: scale(1.05);
}
